@font-face{
    font-family: "MuseoSans";
    src: url(./assets/fonts/MuseoSansCyrl-100.woff2) format(woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'MuseoSans', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
p{
    padding: 0;
    margin: 0;
}
button{
    padding: 0;
    border: none;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, p, h3, h2, h4{
    padding: 0px;
    margin: 0px;
}
header{
    background: rgba(103, 132, 118, 0.3);
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: blur(9px);
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}
.header_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inner{
    display: flex;
    gap: 40px;
    align-items: center;
}
.logo{
    width: 200px;
    height: auto;
    max-width: 100%;
}
.location img{
    width: 23px;
    height: auto;
    max-width: 100%;
}
.location{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.menu_list{
    display: flex;
    gap: 35px;
}
.menu_item{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
}
.links{
    display: flex;
    gap: 40px;
    align-items: center;
}
.number{
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
}
.location p{
    color: white;
    line-height: 15px;
    font-size: 13px;
    font-weight: 400;
}
.link_social img{
    width: 40px;
    height: auto;
    max-width: 100%;
}
.link_group{
    display: flex;
    gap: 5px;
    align-items: center;
}
#search{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 4.5px;
}
.spa_services{
    background: rgb(239, 240, 235);
    padding: 75px 0;
}
.title_spa{
    text-align: center;
    margin-bottom: 45px;
}
.title_spa h2{
    color: #3b6451;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 0.8;
    margin-bottom: 40px;
}
.title_spa p{
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}
.services_card{
    text-align: left;
}
.services_card img {
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}
.services_card h4{
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.services_card p{
    font-size: 17px;
    font-weight: 500;
}
.button_services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.button_left{
    background-color: #3b6451;
    border-radius: 10px;
    padding: 25px 0;
    cursor: pointer;
}
.button_left p{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.button_right{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;
    cursor: pointer;
}
.button_right p{
    font-weight: 400;
    font-size: 16px;
}
.spa_rooms{
    background: rgb(239, 240, 235);
    padding: 75px 0;
}
.title_rooms{
    text-align: center;
    margin-bottom: 45px;
}
.title_rooms h2{
    color: #3b6451;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 0.8;
    margin-bottom: 10px;
}
.subtitle_rooms{
    color: #3b6451;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 30px;
}
.info_spa{
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
}
.rooms_inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}
.card_rooms{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(59, 100, 81, 0.15);
    border-radius: 30px 30px 0px 0px;
    height: 100px;
    text-align: left;
    align-content: center;
    font-size: 25px;
    font-weight: 500;
    backdrop-filter: blur(30px);
}
.img_rooms{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}
.img_rooms img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}
/* slider */
.img_slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
swiper-slide{
    max-height: 99vh;
    position: relative;
}
.slider_info__text{
    position: absolute;
    left: 60px;
    z-index: 10;
    bottom: 20%;
}
.slider_info__podtitle{
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
    color:white;
}
.slider_info__title{
    font-family: "MuseoSans";
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 100px;
}
.slider_info__disc{
    font-size: 34px;
    color: white;
    text-transform: uppercase;
    max-width: 335px;
    font-weight: 600;
    margin-bottom: 30px;
}
.slider_info__blockbtn{
    display: flex;
    gap:20px;
}
.slider_info__leftbtn{
    color: #ffffff;
    font-size: 17px;
    font-family: 'MuseoSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px;
    background-color: #3b6451;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    min-width: 246px;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.slider_info__rightbtn{
    color: black;
    font-size: 17px;
    font-family: 'MuseoSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding: 20px 20px;
    min-width: 246px;
    text-align: center;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
  swiper-container {
    --swiper-pagination-color: #3B6451; /* Цвет активного буллета */
    --swiper-pagination-bullet-inactive-color: white; /* Цвет неактивного буллета */
    --swiper-pagination-bullet-inactive-opacity: 1; /* Прозрачность неактивного буллета */
    --swiper-pagination-bullet-size: 8px; /* Размер буллета */
    --swiper-pagination-bullet-horizontal-gap: 6px; /* Отступ между буллетами */

    /* Настройки стрелок навигации */
  --swiper-navigation-color: white; /* Цвет стрелок */
  --swiper-navigation-size: 24px; /* Размер стрелок */
  }
/* под табом */
.contact{
    background: rgb(239, 240, 235);
    padding: 75px 0;
}
/* .contact h2{
} */

.contact_inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
/* .contact_left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
} */
 .contact_left_top{
    display: flex;
    /* gap: 20px; */
 }
 .contact_left_middle{
    display: flex;
    /* gap: 20px; */
 }
.contact_right{
    background-color: #3b6451;
    border-radius: 30px;
    padding: 40px;
    font-size: 23px;
}
.contact_left p{
    text-align: left;
    font-size: 23px;
    font-weight: 500;
}
.contact_inner a{
    color: #000;
    font-size: 18px;
}
.phone, .whats{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;   
    text-align: center;
}
/*Сертификаты*/
.sertificat_block {
    background: rgb(239, 240, 235);
    padding: 75px 0;
}
.sertificat_block__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}
.sertificat_block__item img{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sertificat_block__podtitle{
    color: #3b6451;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
}
.sertificat_block__title{
    color: #3b6451;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 0.8;
    margin-bottom: 30px;
}
.sertificat_block__item p{
    font-size: 22px;
    margin-bottom: 20px;
    color:black;
}

.sertificat_block__buy{
    color:white;
    font-family: 'MuseoSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    background-color: #3b6451;
    padding: 25px 44px;
    display: block;
    width: fit-content;
    cursor: pointer;
}
.sertificat_block__select{
    color:black;
    font-family: 'MuseoSans', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    background-color: white;
    padding: 25px 44px;
    display: block;
    width: fit-content;
    cursor: pointer;
}
.sertificat_block__btn{
    display: flex;
    gap:20px;
    padding-top: 20px;
}

/*Бестселлеры*/
.bestseller_block{
    padding: 75px 0;
    background-color: rgb(239, 240, 235);
}
.bestseller_block h2{
    color: #3b6451;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 0.8;
    margin-bottom: 10px;
    text-align: center;
}

.bestseller_block__disc{
    color: #3b6451;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 30px;
    text-align: center;
}
.bestseller_block__tab-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:30px;
    margin-bottom: 30px;
}
.bestseller_block__tab-item{
    color:black;
    font-size: 16px;
    line-height: 1.55;
    border-radius: 8px;
    height: 54px;
    align-items: center;
    text-align: center;
    background-color: white;
    align-content: center;
    cursor: pointer;
    text-transform: uppercase;
}
.bestseller_block__tab-item.activetab{
    background: #3B6451;
    color:white;
}
.bestseller_item{
    position: relative;
    background: white;
    border-radius: 30px;
    overflow: hidden;
}
.bestseller_item img{
    width: 100%;
}
.bestseller_item__bage{
    position: absolute;
    top: 10px;
    right: 10px;
    color:#678476;
    background: #f3f0de;
    padding: 10px 20px;
    border-radius: 50px;
}
.bestseller_item__title{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 30px 20px 30px;
    font-weight: 700;
}
.bestseller_item__list{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.bestseller_item__list-item{
    font-size: 14px;
    line-height: 1.55;
    color:black;
    position: relative;
    padding-left: 15px;
    line-height: 20px;
}
.bestseller_item__list-item::before{
    content:" ";
    width: 5px;
    height: 5px;
    background: black;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 8px;
}
.bestseller_item_clock{
    display: flex;
    gap:5px;
    padding: 20px 30px 5px 30px;
    font-weight: 900;
}
.bestseller_item_clock img{
    width: 20px;
    height: auto;
}
.bestseller_item__price-title{
    padding: 0 30px;
    font-style: italic;
}
.bestseller_item__price{
    padding: 0 30px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 40px;
}
.bestseller_item_btn-block{
    display: flex;
    gap:10px;
    padding: 0 30px;
    margin-bottom: 30px;

}
.bestseller_item_btn-block a{
    border-radius: 8px;
    padding: 10px 15px;
}
.bestseller_item_btn-block a:first-child{
    color:white;
    background: #3B6451;
}
.bestseller_item_btn-block a:last-child{
    color:#3B6451;
    border:1px solid #3B6451;
}
.bestseller_block__tab1{
    display:none;
}
.bestseller_block__tab1.active {
    display: block;
}

/*Contact_form*/
.contact-form_block{
    padding: 75px 0;
    background: rgb(239, 240, 235);
}
.contact-form_block_container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.contact-form_block h2 {
    color: #3b6451;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 0.8;
    margin-bottom: 10px;
}
.contact-form__block-disck{
    color: #3b6451;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 30px;
}
.contact-form__block-right{
    gap:10px;
    display: flex;
}
.contact-form__block-right img{
    height: 110px;
    width: auto;
}
.contact-form_block_container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    margin-top: 40px;
}
.contact-form__block-left2{
    background: white;
    border-radius: 30px;
    padding: 30px 40px;
}
.contact-form_block_list{
    display: flex;
    gap:10px;
    padding-bottom: 20px;
    align-items: center;
    font-size: 20px;
    color:black;
}
.contact-form_block_list a{
    font-size: 20px;
    color:black;
}
.contact-form_block_list img{
    width: 50px;
    height: auto;
}
.contact-form__block-right2{
    background:#3b6451;
    padding:30px;
    border-radius: 30px;
}
.map_block{
    background: rgb(239, 240, 235);
}
.map{
    border-radius: 30px;
    overflow: hidden;
}
/* FOOTER */
.roof{
    background-color: #3B6451;
    padding: 75px 0;
}
.roof_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.logo_inner{
    width: 190px;
    height: auto;
}
.roof_right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.roof_right img{
    width: 30px;
    height: auto;
}
.roof_right a{
    font-size: 23px;
    font-weight: 600;
}
.button_footer{
    display: flex;
    gap: 20px;
}
.question{
    background-color: inherit;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
}
.call{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 17px;
    color: #000;
}
.footer_nav_inner{
    display: flex;
    justify-content: space-between;
}
.catalog h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #949494;
    margin-bottom: 20px;
}
.footer_items{
    margin-bottom: 10px;
}
.footer_items a{
    font-size: 18px;
    font-weight: 500;
}
.other_list{
    margin-bottom: 20px;
}
.arrow_up{
    display: flex;
    justify-content: right;
}
.arrow{
    width: 100px;
    height: auto;
    background-color: #d6b981;
    padding: 20px;
    border-radius: 50%;
    align-items: right;
}
.card{
    width: 100%;
    text-align: center;
}
.footer_bottom{
    border-top: 1px solid #fff;
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    color: #fff;
    flex-wrap: wrap;
}
.footer_bottom a{
    border-bottom: 1px solid #fff;
}
